body {
  background-color: #E5D9BF ;
  overflow: hidden;
    padding: 20px;

    overflow:auto;

}

h1 {
    color: #000000;
    text-align: center;
    font-family: Georgia, serif;
    
    
    
}

h5 {
    text-align: center;
    font-family: Georgia, serif;
}
    
div {
    align: center;
}

ul {
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
    font-family: Georgia, serif;
    
    
   
}

li {
    display: inline;
    margin: 0px 3px;
}

iframe {
    
    padding: 20px;
}

p {
    text-align: center;
    font-family: Georgia, serif;
    
    
}

a {
    color: #000000;
    text-decoration: none;
    padding: 6px 18px 5px 18px;}

a:hover {
    color: #FFFFFF;
    
}


footer { 
    display: block;
    text-align: center;
    font-size: 75%;
}


